name: Self-Hosting Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  selfhost:
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
            target: linux/amd64
            cc: cc
            suffix: ""
          - runner: macos-latest
            target: darwin/arm64
            cc: cc
            suffix: ""
          - runner: windows-latest
            target: windows/386
            cc: gcc
            suffix: .exe
    runs-on: ${{ matrix.runner }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build bootstrap compiler
        run: go build -o build/rtg${{ matrix.suffix }} ./std/compiler/

      - name: Native self-hosting (3-stage)
        run: |
          ./build/rtg${{ matrix.suffix }} -T ${{ matrix.target }} -o build/stage1${{ matrix.suffix }} ./std/compiler/
          ./build/stage1${{ matrix.suffix }} -T ${{ matrix.target }} -o build/stageN${{ matrix.suffix }} compiler
          mv build/stageN${{ matrix.suffix }} build/stage2${{ matrix.suffix }}
          ./build/stage2${{ matrix.suffix }} -T ${{ matrix.target }} -o build/stageN${{ matrix.suffix }} compiler
          mv build/stageN${{ matrix.suffix }} build/stage3${{ matrix.suffix }}
          cmp build/stage2${{ matrix.suffix }} build/stage3${{ matrix.suffix }}

      - name: C self-hosting (3-stage)
        run: |
          ./build/rtg${{ matrix.suffix }} -T c/64 -o build/stage1_c.c ./std/compiler/
          ${{ matrix.cc }} build/stage1_c.c -o build/stage1_c${{ matrix.suffix }}
          ./build/stage1_c${{ matrix.suffix }} -T c/64 -o build/stage2_c.c compiler
          ${{ matrix.cc }} build/stage2_c.c -o build/stage2_c${{ matrix.suffix }}
          ./build/stage2_c${{ matrix.suffix }} -T c/64 -o build/stage3_c.c compiler
          cmp build/stage2_c.c build/stage3_c.c
